body {
    font-family: 'Hepta Slab', serif;
    margin:auto;
    width:80%;
}

#errorHolder {
    background:red;
    color:white;
    margin-top:25px;
    margin-bottom:25px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}