body {
    font-family: 'Hepta Slab', serif;
    margin:auto;
    width:80%;
}


div {
    padding: 10px 10px 10px 10px;
}

.errorBox {
    padding: 10px 0px 10px 10px;
    background-color: #f73b31;
    color:white;
    display:block;
    border-style: 1px dotted;
    margin-bottom:1em;
}

.error {
    background-color:red;
}


.hidden {
    opacity: 0;
    height:0px;
    overflow:hidden;
}

.visible {
    height:auto;
    transition: all 0.5s ease-in-out;
    opacity:1;
}

.wrapper {
    display: flex;
  }
  
.left {
    flex: 0 0 65%;
  }
  
.class right {
    flex: 1;
  }

.loading {
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
}
